:root{
    --red:#FF5757;
     

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
   color: var(--red);
   overflow-x: hidden;
  
}
.parent-texts{
    overflow: hidden;
    
    height:600px;
    color: var(--red);
   
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   background-image:linear-gradient(to bottom ,#ffcfe8,#ffe7f3);

}

.heading-texts{
    display: block;
    
  
 
}
.programmer-underline
{
    border-bottom: 1px solid var(--red);
}
.heading-texts h2{
    padding: 10px;
font-family: "Playwrite HR", cursive;;
font-size: 5rem;
}
.heading-texts h4{
font-family: "Roboto", sans-serif;
font-size: 3rem;
justify-content: left;
padding: 0;
text-align:center;
overflow-y: hidden;
}


#cloud1{
    position: absolute;
    left: 9%;
    bottom: 0;
}
#cloud2{
    position:absolute ;
    right: 9%;
    top: 2%;
}

.main-elements{
  
    width: 100%;
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
    margin-top: 1%;
   
}
.headshot-image{
    margin-top: 2%;
   
}
.headshot-image img{
   
    height: auto;
    border-radius: 50%;
    background-size: cover;
    
}
.main-texts{
    display: inline-block;
    width: 100%;
    text-align: center;

}   
.main-texts h2{
    text-align: center;
  font-size: 2.5rem;
 
  margin-top: 5%;

    letter-spacing: 2px;
}

.main-texts p{
    text-align: center;
    font-size: 1.2rem;
    display: block;
    display: inline-block;
    padding: 10px;
    max-width: 700px;
    margin-top: 10px;
    color: black;

   
    
}
.skills{
    margin-top: 40px;
    text-align: center;
}
.skills h2{
font-size: 2rem;
letter-spacing: 1px;
}
.gif-text-align{
    margin-top: 20px;
    max-width: 700px;
   justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    
  
}
.gif img{
   height: 200px;
   width: 250px;

}
.skill-texts{
  
    padding-left: 16px;
    color:black;
   display: block;
   width: 100%;
  position: relative;
 
   
}
.skill-texts h2{
    margin-top: 0px;
    font-size: 2rem;
    text-align: left;
  
 
}
.skill-texts p{
    margin-top: 10px;
    padding: 5px;
  
  
    color:black;
    text-align: left;
    font-size: 1.2rem;
    display: block;
}
.footer{
   display: inline-block;
   width: 100%;
    text-align: center;
    position: relative;

}

.contacts{
    width: 100%;
}
.contacts h2{
  
    padding: 5px;
    font-size: 2rem;
    padding: 5px;
}
.contacts h4{
    margin-top: 5px;
    padding: 5px;
    color: black;
   
   
}

.contacts p{
   
    color: black;
    display: inline-block;
 text-align: center;
    max-width: 600px;
    margin-top: 05px;
    padding: 5px;
   

   

 
}


/* Custom button styles */
.custom-button {
    margin-top: 15px;
    background-color:var(--red);

    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 1rem; 
   
    display: inline-block; /* Ensure the button fits content */
    text-align: center; 
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.custom-button a {
    text-decoration: none;
    color: white; 
}
.custom-button :-moz-any-link:hover {
    background-color: #f17676; 
    transform: scale(1.1);
}


.links{
    margin-top: 25px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: var(--red);
    justify-content: center;
    align-items: center;
    display: flex;
}
.links a{
  position: relative;
 
    color: white;
    padding: 8px;
}
.links h6{
    position: absolute;
    bottom: 5px;
    color: white;
}

@media (max-width:510px)
{
    .gif-text-align{
        margin-top: 20px;
        max-width: 700px;
       justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
      
    }
    .gif img{
       height: 200px;
       width: 250px;
    
    }
    .skill-texts{
      
       
        color:black;
        
       text-align: center;
       width: 100%;
   
     
       
    }
    .skill-texts h2{
       
        margin-top: 5px;
        font-size: 2rem;
        text-align: center;
      
     
    }
    .skill-texts p{
        margin-top: 5px;
        padding: 5px;
      
        color:black;
        text-align: center;
        font-size: 1.2rem;
        display: block;
    }
}